/* --------------------------
Components
-------------------------- */

.bio-content {
    @apply block;
}

.bio-content h2 span {
    @apply block;
    @apply text-yellow-500;
    @apply text-3xl;
    @apply tracking-widest;
    @apply font-bold;
    @apply relative;
}

.bio-content h2 span:before {
    content: " ";
    @apply absolute;
    @apply w-1;
    border-radius: 0 10px 10px 0;
    width: 35px;
    height: 15px;
    left: -18.5%;
    top: 49%;
    background: rgba(236,201,75,1);
    z-index: 50;
}

.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.card {
    flex: 0 0 auto;
    width: 600px;
}