.container {
    @apply mx-auto;
    @apply px-2;
    @apply py-2;

    @screen tablet {
        @apply px-8;
    }

    max-width: theme('screens.lg');
}

.hero-logo {
    max-height: 220px;
}


.skill-container:nth-of-type(odd) .skill-order-odd {
    @screen tablet {
        justify-content: flex-start;
        flex-flow: row-reverse;
        margin-left: 5rem;
    }
}

.skill-container:nth-of-type(even) {
    @apply -mt-16;
}
